footer {
    font-family: sans-serif;
    font-size: 300%;
    padding: 20px;
    padding-left: 20%;
    margin-top: 40px;
    background-color: #f3f3f3;
}

footer img {
    width: 700px;
    height: auto;
    margin: 0 auto;
}