header {
        width: 100%;
        float: left;
        position: absolute;
        height: 77px;
        z-index: 10;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        box-sizing: border-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: 0;
        left: 0;
        background: white;
}

header #logo-menu {
        width: auto;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: none;
        z-index: 2;
    }

header #menu-top {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        position: relative;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 77px;
    }

#menu-top .item-menu {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0 10px;
        position: relative;
        font-family: "light", sans-serif;
        color: #B1B1B1;
        font-size: 18px;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: pointer;
}


#menu-top .item-menu:hover {
        color: #FF4E00
}

#top-home {
        width: 100%;
        position: relative;
        height: 100vh;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        z-index: 2
}

header .menu-icon {
        display: none;
        position: relative;
        width: 20px;
        height: 21px;
        cursor: pointer;
        -webkit-flex: 0 0 20px;
        flex: 0 0 20px;
        color: #262530;
        display: none;
    }