#projetos {
    margin-top: -50vh;
    width: 100%;
    position: relative;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    z-index: 1;
}

@media only screen and (max-width: 800px){
    #projetos .main {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    flex-flow: column;
    padding: 50vh 15px 40px 15px;
    width: 82%;
    -webkit-flex: 0 0 90%;
    flex: 0 0 90%;
}
}


#projetos .main {
    position: relative;
    width: 82%;
    -webkit-flex: 0 0 82%;
    flex: 0 0 82%;
    max-width: 1746px;
    height: auto;
    box-sizing: border-box;
    background-image: url(../images/bg-roxo.png);
    background-repeat: repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 50vh 30px 40px 30px;
}

@media only screen and (max-width: 800px){
    #projetos .title-sec {
    width: calc(100% - 20px);
    margin-left: initial;
}
}


#projetos .title-sec {
    width: calc(100% - 100px);
    color: white;
    margin-left: 100px;
    box-sizing: border-box;
    margin-top: 30px;
}

@media only screen and (max-width: 1450px){
    .title-sec {
    font-size: 60px;
}
}


.title-sec {
    font-family: "bold", sans-serif;
    font-size: 70px;
    position: relative;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}