body, html {
    background: linear-gradient(90deg, rgba(65, 185, 131, 1) 0%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh; 
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    place-items: center;
}

#player_name {
    margin-bottom: 7px;
    text-align-last: center;
}

.join_game {
    font-size: x-large;
}