body, html {
    background: linear-gradient(90deg, rgba(65, 185, 131, 1) 0%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container-banner {
    background: url('../imgs/jogo_da_velha_banner.png') no-repeat center center;
    background-size: cover; /* Isso garante que a imagem cubra toda a área disponível */
    min-height: 200px; /* Defina uma altura mínima para garantir que a imagem apareça */
}

.container-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#player_name {
    margin-bottom: 7px;
    text-align: center;
}

.join_game {
    font-size: x-large;
}